*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(/MYPC\ -\ DSC00007.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logform{
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 500px;
    min-height: 260px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 14px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

.tbox{
    margin-top: 17px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    background: none;
    font-size: 18px;
    color: whitesmoke;
    padding: 5px;
}

.pbox{
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    background: none;
    font-size: 18px;
    color: whitesmoke;
    padding: 5px;
}

.btn{
    margin-top: 30px;
    width: 180px;
    height: 50px;
    font-size: 18px;
    background-color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 160px;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

